.genre {
  position: relative;
}

select,
::picker(select) {
  appearance: base-select;
  border: none;
  outline:none;
}

  width: 11rem;
  position: fixed;
  top: 110px;
  left:20px;
  z-index: 10000;
} */