.searchbar {
  box-shadow: 1px 4px 5px 5px rgba(0, 0, 0, 0.01);
  position: fixed;
  width: 100vw;
  top: 0;
  margin-top: 4rem;
  @media (width <= 700px) {
    margin-top: 2.8rem;
  }
  left: 0;
  text-align: center;
  background-color: #fff;
  z-index: 1500;
}

input {
  text-decoration: none;
  border: none;
  padding: 1rem;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
}

.submit {
  box-shadow: 1px 7px 5px 5px rgba(0, 0, 0, 0.03);
}
.searchterm,
.submit,
button {
  padding: 10px;
  border-radius: 8px;
  appearance: none;
  background-color: #fff;
  border: 1px solid transparent;
  outline: none;
  background: none;
  font-size: 1rem;
  @media (max-width: 700px) {
    font-size: 0.85rem;
    padding: 5px;
    padding: 0;
    justify-content: space-between;
  }
}

.searchterm {
  border: 2px solid #fff;
  text-align: center;
  border-bottom: 1px solid lightgrey;
  height: 40px;
}

.submit,
button {
  border: 1px solid #fff;
  color: grey;
  text-decoration: none;
  padding: 0.5rem;
  display: inline-block;
  margin: 1rem;
  transition: all 0.2s;
  overflow: hidden;
  position: relative;
  &:hover {
    background-color: white;
    color: blue;
    transform: translateY(2px) scale(0.95);
    box-shadow: none;
    &:active {
      outline: none;
      transform: scale(0.9);
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  color: grey;
  margin: 0;
  @media (max-width: 700px) {
  }
}
